<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Benefits Navigator</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to suggest the best card for stores you visit.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to detect when you are shopping and send you money-saving alerts.</string>
</dict>
</plist>
